<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021820198187-mtncc01ph9kp9h1al7gbo4ksqrpjh8kf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021820198187-mtncc01ph9kp9h1al7gbo4ksqrpjh8kf</string>
	<key>API_KEY</key>
	<string>AIzaSyCeHXZcLOdifBlrZjXgtfond5qYUooa7MY</string>
	<key>GCM_SENDER_ID</key>
	<string>1021820198187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mongUi.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>business-card-maker-80147</string>
	<key>STORAGE_BUCKET</key>
	<string>business-card-maker-80147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021820198187:ios:9da2b7120a42abb593b96e</string>
</dict>
</plist>